@model StockManagement.Models.ViewModels.StockInCreateVM

@{
    ViewBag.Title = "StockIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StockIn</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>StockInCreateVM</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.PartyId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PartyId, new SelectList(Model.Parties,"Id","Name"), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PartyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StockDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StockDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StockDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group">
                                @Html.Label("Category", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.DropDownList("CategoryDropDown", new SelectList(Model.Categories, "Id", "Name"), "Select...", htmlAttributes: new { @class = "dropdown form-control", id = "categoryDD" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Product", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.DropDownList("ProductDropDown", null, htmlAttributes: new { @class = "dropdown form-control", id = "productDD" })
                                </div>
                            </div>
                        </div>


                        <div class="row">
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="row">
                            <div class="form-group">
                                @Html.Label("Qty", new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.TextBox("Qty", "1", htmlAttributes: new { @class = "form-control", placeholder = "Provide Qty" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-6">
                                <input type="button" id="addButton" class="btn btn-success " value="Add" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <hr />
        <div class="form-group">
            <div class="row">
                <table id="productTable" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Qty</th>
                        </tr>
                    </thead>
                    <tbody id="tbProducts"></tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{

    <script src="~/Scripts/Stock/stockin_create.js"></script>
}
